{% extends 'preprocessing/base.html' %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Linear Regression</h1>
    <p class="lead">Run linear regression on any of your files.</p>
</div>

<table class="table">
    <thead>
        <th>File Name</th>
        <th>Regression</th>
    </thead>
    <tbody>
        {% for tx in texts %}
        <tr>
            <td>{{ tx.title }}</td>
            <td>
                <form method="post" action="{% url 'regression_file' tx.pk %}">
                    {% csrf_token %}
                    <button type="submit" class='btn btn-success btn-sm'>Run Regression</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="post" action="{% url 'preprocessing-text' %}">
    {% csrf_token %}
    <div class="row justify-content-center">
        <button class='col-sm-6 btn btn-primary' style='font-size: 30px'>Back to Overview</button>
    </div>
</form>

{% endblock content %}