{% extends 'preprocessing/base.html' %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Visualize {{ name }}</h1>
    <p class="lead">Visualize your high-dimensional data using principal component analysis (PCA) or t-stochastic neighbor embedding (t-SNE).</p>
</div>

<form action="{% url 'process_text' %}">
    <button>Back to Processing</button>
</form>

<h2>Choose Label</h2>
    <p>Choose the column to use as your label for visualizing the dataset.</p>

<form method='post' action="{% url 'visualize' pk %}">
    {% csrf_token %}
    <!--Drop down menu for column names-->
    <div class="custom-select">
        <select name="chosen_col">

            <option value="-1">-----</option>
            {% for c in columns %}
                <option value="{{ c }}">{{ c }}</option> 
            {% endfor %}
        </select>
    </div>

    <h2>Choose Visualization</h2>
    <p>Choose a dimensionality reduction technique for your dataset.</p>
    <!--Drop down Menu for type of visualization-->
    <div class="custom-select">
        <select name="reduce_technique">
            <option value="-1">-----</option>
            <option value="0">PCA</option>
            <option value="1">T-SNE</option>
            <option value="2">Histogram</option>
        </select>
    </div>

    <button type="submit" class='btn btn-primary btn-sm'>Visualize</button>
</form>

<!--Show image if needed-->
{% if img %}
<img src='data:image/png;base64, {{ img|safe }}' alt="Visualization of Data">
{% elif hist_error == -1 %}
<p>For Histogram, please choose a column with numerical values!</p>
{% endif %}

{% endblock content %}